.budget-view {}

.budget-info {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.budget-info {
    display: flex;
    flex-flow: row;
    padding: 10px;
    margin: 5px;
}